{% extends 'base.html' %} {% block content %}
<p>Hello {{first_name}},</p>

<p>
    We've received a request to delete AlkohoLove account associated with your email address. No
    changes have been made to your account yet. You can delete your account by clicking the link below:
</p>
<table
        role="presentation"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="btn btn-primary"
>
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <a href="{{url}}" target="_blank">Delete your account</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p>If you did not request an account deletion, you can safely ignore this email. Only a person with access to your email
    can
    delete your account.</p>

{% endblock %}
