{% extends 'base.html' %} {% block content %}

<p>Hello {{first_name}},</p>
<p>
    We've received a request to reset the password for the AlkohoLove account associated with your email address. No
    changes have been made to your account yet. You can reset your password by clicking the link below:
</p>
<table
        role="presentation"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="btn btn-primary"
>
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <a href="{{url}}" target="_blank">Reset your password</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p>If you did not request a new password, you can safely ignore this email. Only a person with accress to your email can
    reset your account password.</p>

{% endblock %}
