services:
  backend:
    build: .
    command: uvicorn src.main:app --host 0.0.0.0
    volumes:
      - .:/src
    ports:
      - 8008:8000
    depends_on:
      - db
    environment:
      - ENV=DOCKER
  db:
    image: mongo:5.0.8
    restart: always
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=alkoholove_admin
      - MONGO_INITDB_ROOT_PASSWORD=Test1234
      - MONGO_INITDB_DATABASE=alkoholove
    volumes:
      - ./init_db/001-users_collection.js:/docker-entrypoint-initdb.d/001-users_collection.js:ro
      - ./init_db/002-tokens_collection.js:/docker-entrypoint-initdb.d/002-tokens_collection.js:ro
      - ./init_db/003-errors_collection.js:/docker-entrypoint-initdb.d/003-errors_collection.js:ro
      - ./init_db/004-alcohol_collections.js:/docker-entrypoint-initdb.d/004-alcohol_collections.js:ro
      - ./init_db/005-user_wishlists_collection.js:/docker-entrypoint-initdb.d/005-user_wishlists_collection.js:ro
      - ./init_db/006-user_favourites_collection.js:/docker-entrypoint-initdb.d/006-user_favourites_collection.js:ro
      - ./init_db/007-user_search_history_collection.js:/docker-entrypoint-initdb.d/007-user_search_history_collection.js:ro
      - ./init_db/008-user_tags_collection.js:/docker-entrypoint-initdb.d/008-user_tags_collection.js:ro
      - ./init_db/009-followers_collection.js:/docker-entrypoint-initdb.d/009-followers_collection.js:ro
      - ./init_db/010-following_collection.js:/docker-entrypoint-initdb.d/010-following_collection.js:ro
      - ./init_db/011-alcohol_filters_collection.js:/docker-entrypoint-initdb.d/011-alcohol_filters_collection.js:ro
      - ./init_db/012-reviews_collection.js:/docker-entrypoint-initdb.d/012-reviews_collection.js:ro
      - ./init_db/013-alcohol_suggestions_collection.js:/docker-entrypoint-initdb.d/013-alcohol_suggestions_collection.js:ro
      - ./mongo-data/:/data/db
