services:
# for front-end/mobile etc.
#  web:
#    build: .
#    command: uvicorn app.main:app --host 0.0.0.0
#    volumes:
#      - .:/app
#    ports:
#      - 8008:8000
#    environment:
#      - DATABASE_URL=postgresql://alkoholove_admin:Test1234@db:5432/alkoholove
#    depends_on:
#      - db
  db:
    image: postgres:14-alpine
    ports:
    - 5432:5432
    environment:
      - POSTGRES_USER=alkoholove_admin
      - POSTGRES_PASSWORD=Test1234
      - POSTGRES_DB=alkoholove
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./init_db/create_user_table.sql:/docker-entrypoint-initdb.d/create_user_table.sql
      - ./init_db/populate_users.sql:/docker-entrypoint-initdb.d/populate_users.sql
