services:
  backend:
    build: .
    command: uvicorn src.main:app --host 0.0.0.0
    volumes:
      - .:/src
    ports:
      - 8008:8000
    environment:
      - DATABASE_URL=postgresql+asyncpg://alkoholove_admin:Test1234@db:5432/alkoholove
    depends_on:
      - db
  db:
    image: postgres:14-alpine
    ports:
    - 5432:5432
    environment:
      - POSTGRES_USER=alkoholove_admin
      - POSTGRES_PASSWORD=Test1234
      - POSTGRES_DB=alkoholove
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./init_db/01-create_user_table.sql:/docker-entrypoint-initdb.d/01-create_user_table.sql
      - ./init_db/05-populate_users.sql:/docker-entrypoint-initdb.d/05-populate_users.sql
      - ./init_db/02-create_alcohol_tables.sql:/docker-entrypoint-initdb.d/02-create_alcohol_tables.sql
      - ./init_db/06-populate_alcohol_tables.sql:/docker-entrypoint-initdb.d/06-populate_alcohol_tables.sql
      - ./init_db/03-create_user_lists_tables.sql:/docker-entrypoint-initdb.d/03-create_user_lists_tables.sql
      - ./init_db/07-populate_user_lists_tables.sql:/docker-entrypoint-initdb.d/07-populate_user_lists_tables.sql
      - ./init_db/04-create_user_requests_tables.sql:/docker-entrypoint-initdb.d/04-create_user_requests_tables.sql
      - ./init_db/09-create_user_tags_tables.sql:/docker-entrypoint-initdb.d/09-create_user_tags_tables.sql
      - ./init_db/10-populate_user_tags_tables.sql:/docker-entrypoint-initdb.d/10-populate_user_tags_tables.sql
      - ./init_db/08-populate_user_requests_tables.sql:/docker-entrypoint-initdb.d/08-populate_user_requests_tables.sql
      - ./init_db/09-create_token_blacklist_table.sql:/docker-entrypoint-initdb.d/09-create_token_blacklist_table.sql
