name: Build & Test
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.4'

      - name: Run docker
        run: docker-compose up --build -d

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        env:
          DATABASE_URL: postgresql+asyncpg://alkoholove_admin:Test1234@localhost:5432/alkoholove
        run: pytest